@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.change-password-form {
	width: 550px;
	max-height: 3000px;
	padding: 20px;
	border: 5px solid gray;
	border-radius: 8px;
}


.out-layer {
	height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.title-change-password {
	text-align: center;
	font-family: 'Hanna', sans-serif;
}


.button-change-password {
	text-align: center;
	font-family: 'Hanna', sans-serif;
}