@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
    
.profile-div {
	max-width: 1200px;
	max-height: 3000px;
	padding: 35px;
	border: 5px solid #ddd;
	border-radius: 8px;
}

.out-layer {
	position: absolute;
	top: 40%;
	left: 50%;
	padding: 0;
	margin: -150px 0px 0px -200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}