@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.signup-div {
	max-width: 430px;
	padding: 35px;
	border: 5px solid #ddd;
	border-radius: 8px;
}

.out-layer {
	position: absolute;
	top: 35%;
	left: 50%;
	padding: 0;
	margin: -150px 0px 0px -200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.title-signup {
	font-family: 'Hanna', sans-serif;
}


.button-signup {
	text-align: center;
	font-family: 'Hanna', sans-serif;
}