@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


.update-div {
	width: 500px;
	max-height: 3000px;
	padding: 20px;
	border: 5px solid gray;
	border-radius: 8px;
}

.out-layer {
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-update {
	text-align: center;
	font-family: 'Hanna', sans-serif;
}

.button-update {
	text-align: center;
	font-family: 'Hanna', sans-serif;
}