{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div style="text-align:center;">
    <h1>{{ movie.title }}</h1>
  </div>
  <div class="row no-gutters" style=max-width: 10000px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
    <div class="col-md-4"; style="text-align:center;">
      <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" class="card-img" alt="{{movie.name}}">
    </div>
  </div class="col-md-8";>
  {% comment %} <p>
    genre : 
    {% for genre in movie.genres.all %}
    <span>{{ genre.name }}</span>
    {% endfor %}
  </p> {% endcomment %}
  <p>개봉일 : {{ movie.released_date }}</p>
  <p>관객 : {{ movie.popularity }}</p>
  <p>평점(10점 만점) : {{ movie.vote_avg }}</p>
  <p>개요 : {{ movie.overview }}</p>
  <img src="{{ movie.poster_path }}" alt="">
  {% if user in movie.like_users.all %}
  <button class="btn btn-warning btn-lg like-button" style="font-family: 'Nanum Pen Script', cursive;"
    data-id="{{ movie.pk }}">좋아요 취소...</button>
  {% else %}
  <button class="btn btn-warning btn-lg like-button" style="font-family: 'Nanum Pen Script', cursive;"
    data-id="{{ movie.pk }}">좋아요</button>
  {% endif %}
  <span style="font-size: 1.5rem; font-family: 'Gothic A1', sans-serif;"> Like count :</span>
  <span id="like-count-{{ movie.pk }}" style="font-size: 1.5rem; font-family: 'Gothic A1', sans-serif;">
    {{ movie.like_users.all|length }}
  </span>
{% endblock %}