{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center">
{% for movie in movies %}
<div cass='card-list'>
  <div class="card">
    <a href="{% url 'movies:detail' movie.pk %}">
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      {% comment %} <p class="card-title">{{ movie.title }}</p> {% endcomment %}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}

{% block script %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock script %}