{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static './css/likelist.css' %}">

<br>
<h1 class="list-follow">{{ person.last_name }}{{person.first_name }}님의 팔로우 목록</h1>
<div class="container">
  <div class="row">
{% for follow in person.followings.all %}
  <a href="{% url 'accounts:profile' follow %}" style='text-align: center; text-decoration: none;'>
  {{ follow.username}}
  </a>
{% endfor %}
  </div>
</div>
<br>
<hr>

<h1 class="list-like">{{ person.last_name }}{{person.first_name }}님이 좋아하는 영화 목록</h1>
<div class="container d-flex flex-wrap" id='total'>
{% for movie in person.like_movies.all %}
  <a href="{% url 'movies:detail' movie.pk %}">
    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="rounded like_img" alt="...">
  </a>
{% endfor %}
</div>

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock script %}
