{% extends 'base.html' %}

{% block content %}
{% if searched %}
<br>
<p>{{searched}}에 대한 검색 결과</p>
<a href="{% url 'movies:search' %}"><p>돌아가기</p></a>
{% for movie in movies %}
  <a href="{% url 'movies:detail' movie.pk %}">
  <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="rounded main_img" alt="...">
  </a>
  {% endfor %}
{% else %}
<h1> 단어를 입력해주세요. </h1>
<a href="{% url 'movies:search' %}"><p>돌아가기</p></a>
{% endif %}
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

</script>
{% endblock script %}
