.card-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.card{
  height: 700px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.card-img-top{
  width: 40%;
  height: 500px; 
  margin: auto;
  margin-bottom: 40px;
}