.main_img {
  width: 300px;
  height: 400px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.like_img {
  width: 250px;
  height: 350px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  text-align: center;
}

.logo{
  width: 50px;
  height: 50px;
}

.nav-item {
  margin-left: auto;
}

.navbar {
  background-color: beige;
}