.card-list{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 600px;
  width: 25%
}

.card{
  height: 600px;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.card-img-top{
  height: 300px; 
}
