{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static './css/change_password.css' %}">

<div class="out-layer">
  <h1 class="text-center" style="font-family: 'Hanna', sans-serif;">비밀번호변경</h1>
  <br>
    <form class="change-password-form" action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-outline-dark">수정</button>
    </form>
  </div>
{% endblock content %}
