{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static './css/change_password.css' %}">

<div class="out-layer">
  <br>
  <form class="change-password-form" action="{% url 'accounts:change_password' %}" method="POST">
      <h1 class="title-change-password">비밀번호 변경</h1>
      <br>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="button-change-password">
        <button type="submit" class="btn btn-dark">비밀번호 변경</button>
        <a href="{% url 'accounts:update' %}" class="btn btn-outline-dark" style="font-family: 'Hanna', sans-serif;">뒤로가기</a>
      </div>
    </form>
  </div>  
{% endblock content %}
