{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="out-layer" >
  <div class="login-div">
  <div>
    <h1 style="font-family: 'Hanna', sans-serif;">로그인</h1>
  </div>
  <br>
  <div>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div style="text-align: center;">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
{% endblock content %}
