{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static './css/profile.css' %}">

<div class="out-layer">
  <div class="profile-div">
    <h2 class="text-center" style="font-family: 'Hanna', sans-serif;">{{ person.username }}님의 프로필</h1>
    <hr>
    <div class="follow-div">
      팔로워 :<span id="followers-count">{{ person.followers.all|length }}</span><br>
      팔로잉 :<span id="followings-count">{{ person.followings.all|length }}<span>
    </div>
    <br>

    {% if request.user != person %}
    <div>
      <form id="follow-form" data-user-id={{ person.pk }}>
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <button type="submit" class="btn btn-outline-dark btn-block btn-large" style="font-family: 'Hanna', sans-serif;">언팔로우</button>
          {% else %}
          <button type="submit" class="btn btn-outline-dark btn-block btn-large" style="font-family: 'Hanna', sans-serif;">팔로우</button>
        {% endif %}
      </form>
    </div>
    {% endif %}

    <hr>
    <h2 class="text-center" style="font-family: 'Hanna', sans-serif;">{{ person.username }}님이 좋아하는 영화</h2>
    <div class='container' style='max-width: 500px; flex-wrap: wrap;'>
    {% for movie in person.like_movies.all %}
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="like_img" style="width: 80px; height: 100px;" onclick="location.href='{% url 'movies:detail' movie.pk %}'">
      {% comment %} <a href="{% url 'movies:detail' movie.pk %}">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="like_img" style="width: 80px; height: 100px;">
      </a> {% endcomment %}
    {% endfor %}
        
    </div>
    <br>
    {% if request.user == user %}
    <button type="button" class="btn btn-outline-dark" style="font-family: 'Hanna', sans-serif;" onclick="location.href='/accounts/update/'">정보 수정</button>
    {% endif %}
    <button type="button" class="btn btn-dark" style="font-family: 'Hanna', sans-serif;" onclick="location.href={% url 'movies:index' %}">뒤로 가기</button>
  </div>
</div>

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      axios({
        method: 'post',
        url: `/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
        // 1. url
        // 2. method
        // 3. csrf_token
      })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')

        if (isFollowed === true) {
          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }
        
        const followersCountTag = document.querySelector('#followers-count')
        const followingsCountTag = document.querySelector('#followings-count')

        const followersCount = response.data.followers_count
        const followingsCount = response.data.followings_count
        followersCountTag.innerText = followersCount 
        followingsCountTag.innerText = followingsCount
        })
        .catch((error) => {
          console.log(error)
        })
    })
  </script>


{% endblock script %}