{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <div>
    {% comment %} 팔로워 : {{ person.followers.all|length }} / 팔로잉 : {{ person.followings.all|length }} {% endcomment %}
    팔로워 :<span id="followers-count">{{ person.followers.all|length }}</span>
    팔로잉 :<span id="followings-count">{{ person.followings.all|length }}</span>
  </div>

  {% if request.user != person %}
  <div>
    {% comment %} <form action="{% url 'accounts:follow' person.pk %}" method="POST"> {% endcomment %} 
    {% comment %} 폼 태그를 가져와야 하기 때문에 id 값을 만들어 줌 {% endcomment %}
    {% comment %} data-'' {% endcomment %}
    <form id="follow-form" data-user-id={{ person.pk }}>
      {% comment %} <script>
        const userId = event.target.dataset.userId {% endcomment %}
        {% comment %} event.target.dataset.userId - camelCase로 {% endcomment %}
      {% comment %} </script> {% endcomment %}
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input type="submit" value="언팔로우">
      {% else %}
        <input type="submit" value="팔로우">
      {% endif %}
    </form>
  <div>
  {% endif %}

  <h2>{{ person.username }}이 작성한 모든 게시글</h2>
  {% for movie in person.movie_set.all %}
    <div>{{ movie.title }}</div>
  {% endfor %}
  <hr>

  <h2>{{ person.username }}이 작성한 모든 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}
  <hr>

  <h2>{{ person.username }}이 좋아요 한 모든 게시글</h2>
  {% for movie in person.like_movies.all %}
    <div>{{ movie.title }}</div>
  {% endfor %}

  <a href="{% url 'movies:index' %}">back</a>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      axios({
        method: 'post',
        url: `/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
        // 1. url
        // 2. method
        // 3. csrf_token
      })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')

        if (isFollowed === true) {
          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }
        
        const followersCountTag = document.querySelector('#followers-count')
        const followingsCountTag = document.querySelector('#followings-count')

        const followersCount = response.data.followers_count
        const followingsCount = response.data.followings_count
        followersCountTag.innerText = followersCount 
        followingsCountTag.innerText = followingsCount
        })
        .catch((error) => {
          console.log(error)
        })
    })
  </script>
{% endblock script %}

{% comment %} CSRF 공식문서: https://docs.djangoproject.com/en/3.2/ref/csrf/#setting-the-token-on-the-ajax-request {% endcomment %}