{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<link rel="stylesheet" href="{% static './css/signup.css' %}">
<div class="out-layer">
  <div class="signup-div">
    <h1 class="title-signup">회원가입</h1>
    <br>
    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
        <br>
        <div class="button-signup">
          <button type="submit" class="btn btn-dark btn-block btn-large">회원가입</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}


