{% load static %}
{% load django_bootstrap5 %}


{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/_nav.css' %}">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">
      <img src="/static/img/MOVIE_PEDIA_logo.png" alt="MOVIE PEDIA" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center container" id="navbarNav">
      <ul class="navbar-nav row">
        <li class="nav-item col-3">
          <a href="{% url 'movies:index' %}">
            <img src="/static/img/home.png" alt="home" class='logo'>
          </a>
        </li>
        <li class="nav-item col-3">
          <a href="{% url 'movies:likelist' user%}">
            <img src="/static/img/heart.png" alt="like" class='logo'>
          </a>
        </li>
        <li class="nav-item col-3">
          <a href="{% url 'movies:search' %}">
            <img src="/static/img/search.png" alt="search" class='logo'>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <a href="{% url 'accounts:profile' user %}" class="btn btn-outline-dark" style="font-family: 'Hanna', sans-serif;">프로필</a>
      <a href="{% url 'accounts:logout' %}" class="btn btn-dark" style="font-family: 'Hanna', sans-serif;">로그아웃</a>
{% endif %}
    </div>
  </div>
</nav>